<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Quickstart Ionic Capacitor </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Quickstart Ionic Capacitor</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="content">
          Device ID: <ion-text class="text-select">{{deviceId}}</ion-text>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="content">Location: {{locationText}}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="content">Errors: {{errorsText}}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="success" expand="block" (click)="setIsTracking(true)"
          >Start Tracking</ion-button
        >
      </ion-col>
      <ion-col>
        <div class="content">isTracking: {{isTrackingText}}</div>
      </ion-col>
      <ion-col>
        <ion-button color="danger" expand="block" (click)="setIsTracking(false)"
          >Stop Tracking</ion-button
        >
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="setAvailability(true)"
          >Set Available</ion-button
        >
      </ion-col>
      <ion-col>
        <div class="content">isAvailable: {{isAvailableText}}</div>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="setAvailability(false)"
          >Set Unavailable</ion-button
        >
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="addGeotag()">Add geotag</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="addGeotagWithExpectedLocation()"
          >Add geotag with expected location</ion-button
        >
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="locate()">Locate user</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="getErrors()">Get errors</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="getIsAvailable()"
          >Get isAvailable</ion-button
        >
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="getIsTracking()"
          >Get isTracking</ion-button
        >
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="getLocation()"
          >Get location</ion-button
        >
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="getMetadata()"
          >Get metadata</ion-button
        >
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="getName()">Get name</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
