<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HyperTrack QuickStart App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HyperTrack QuickStart App</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="content">Device ID: <ion-text class="text-select">{{deviceId?.deviceId}}</ion-text>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="success" expand="block" (click)="start()">Start Tracking</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="danger" expand="block" (click)="stop()">Stop Tracking</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="trackingStatus">
      <ion-col>
        <div class="track">
          <div class="blinker"></div>
          <div class="status">Tracking in on... </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="content">Tracking State Change: {{trackingStateChange}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-button expand="block" color="success" (click)="setAvailability(true)">Set Availability True</ion-button>
      </ion-col>
      <ion-col>
          <ion-button expand="block" color="danger"  (click)="setAvailability(false)">Set Availability False</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="content">Availability State Change: {{availabilityStatus}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Check All Methods</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-toolbar>
          <ion-row>
            <ion-col>
              <ion-button expand="block" (click)="mockLocations()">Mock Locations</ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" (click)="addGeoTag()">Add Geo Tag</ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="platform.is('android')">
            <ion-col>
              <ion-button expand="block" (click)="setTrackingNotificationProperties()">Set Tracking Notification
                Properties</ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" (click)="requestPermissions()">Request Permissions If Necessary</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="block" (click)="syncDevice()">Sync Device Settings</ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" (click)="setMetadata()">Set Device Metadata</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="block" (click)="isTrackingMethod()">is-Tracking</ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" (click)="isRunning()">is-Running</ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" (click)="getAvailabilityStatus()">Get Availability Status</ion-button>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>